@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Figtree';
        src: url('./ttf/Figtree-VariableFont_wght.ttf') format('truetype');
        font-weight: 100 900;
        font-style: normal;
    }

    :root {
        --color-primary: #0e9f6e;
        --swiper-pagination-color: var(--color-primary) !important;
    }

    body {
        font-family: 'Figtree', sans-serif;    
    }  
}

